<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 删除 每段div里面的 p  或者 替换都行  我先验视 啊
 你可以试试  直接  10@a  命令模式下 我换个命令
 啥意思 我设置一个10@w
 ni sui 你随意把 meifanying

  ni ba 你把 你的按键  顺利  打出来 我看看哪里错了
  q  w  dddd  q 10@w
  "+" //这是个啥


  小伙子  你要站在编程的角度  来写这个红  明白? 他就傻兮兮的直接执行了20边dd 不是  你的每一次 都会执行 你看着啊
  每一次 只是光标  你的按逻辑角度去 控制 明白吗我试试 等等

  你尝试找共性  比如我第一次的操作 先看都有一个class abc  然后下删除两行 这样就 没问题 明白吗
  咋找class

  q  *
  /abc
  回车
  j
  2 dd
  q

  一个字母都别多
  试试

  是不是成功了小伙子 恩趋势是

 哥  一个字母都不多 你打什么: 啊 /bcj2ddq@10
 把 中文先关掉 你的/ 达成中文的 了刚才
 *  是字母的意思  我错了  你随便给个字母 忘跟你说了 我知道
  那你  打完/  为啥不打  abc呢 小伙子
  q其实还有好多牛逼的快捷键呢恩  你用吧  随时问我快捷键  到时候有你好玩的好
 -->

你玩吧   恩闪了



</body>
</html>