<div class="left-list">
    <ul>
        <li>
            <a >
                <i class="fa fa-user-circle"></i>用户中心<i class='fa fa-angle-down '></i>
            </a>
            <ul>
                <li><a href="javascript:;"ng-click="gotoPage('/index1')" >用户管理</a></li>
                <li><a href="javascript:;">啊啊士大夫</a></li>
                <li><a href="javascript:;">阿斯蒂芬</a></li>
                <li><a href="javascript:;">淡定</a></li>
            </ul>
        </li>
        <li>
            <a >
                <i class="fa fa-group"></i>搞定大的<i class='fa fa-angle-down '></i>
            </a>
            <ul>
                <li><a href="javascript:;"ng-click="gotoPage('/test1')" >用户管理</a></li>
                <li><a href="javascript:;">啊啊士大夫</a></li>
                <li><a href="javascript:;">阿斯蒂芬</a></li>
                <li><a href="javascript:;">淡定</a></li>
            </ul>
        </li>
        <li>
            <a  >
                <i class="fa fa-graduation-cap"></i>搞定大的<i class='fa fa-angle-down '></i>
            </a>
            <ul>
                <li><a href="javascript:;">用户管理</a></li>
                <li><a href="javascript:;"ng-click="gotoPage('/test2')">啊啊士大夫</a></li>
                <li><a href="javascript:;">阿斯蒂芬</a></li>
                <li><a href="javascript:;">淡定</a></li>
            </ul>
        </li>
        <li>
            <a  >
                <i class="fa fa-star-half-empty"></i>搞定大的<i class='fa fa-angle-down '></i>
            </a>
            <ul>
                <li><a href="javascript:;">用户管理</a></li>
                <li><a href="javascript:;">啊啊士大夫</a></li>
                <li><a href="javascript:;"ng-click="gotoPage('/test3')">阿斯蒂芬</a></li>
                <li><a href="javascript:;">淡定</a></li>
            </ul>
        </li>
        <li>
            <a  >
                <i class="fa fa-pencil"></i>搞定大的<i class='fa fa-angle-down '></i>
            </a>
            <ul>
                <li><a href="javascript:;">用户管理</a></li>
                <li><a href="javascript:;">啊啊士大夫</a></li>
                <li><a href="javascript:;">阿斯蒂芬</a></li>
                <li><a href="javascript:;"ng-click="gotoPage('/test4')">淡定</a></li>
            </ul>
        </li>


        <li><a ng-click="gotoPage('/test5')" ><i class="fa fa-sitemap"></i>计价管理</a></li>
        <li><a ng-click="gotoPage('/test6')" ><i class="fa fa-credit-card-alt"></i>云栈服务</a></li>
    </ul>
</div>
<script src="left.js"></script>
<script>

</script>
