<div class="popzhezhaoceng">
    <div class="pop">
        <h3>{{poptitle}} <span class="fr" ng-click="popHide('index2Popfwq')">×</span></h3>
        <div class="popContent">
            <ul class="an-width150">
                <li><div>2323</div></li>
                <li>23</li>
                <li>服务器</li>
            </ul>
        </div>
        <!--两端 popq-q ，左侧 popqq-left ,右侧 popqq-right -->
        <div class="popqq clear popqq-left">
            <a href="javascript:;" class="btn btn-andefault" ng-click="popHide('index2Popfwq')">取消</a>
            <a href="javascript:;" class="btn btn-andefault">确定</a>
        </div>
    </div>


</div>






