<div class="popzhezhaoceng">
    <div class="pop">
        <h3>{{poptitle}} <span class="fr" ng-click="popHide('index2Popxq')">×</span></h3>
        <div class="popContent">
            <ul>
                <li>index2</li>
                <li>index2</li>
                <li>index2</li>
                <li>index2</li>
                <li>index2</li>
                <li>index2s</li>
            </ul>
        </div>
        <!--两端 popq-q ，左侧 popqq-left ,右侧 popqq-right -->
        <div class="popqq clear popq-q">
            <a href="#" class="btn btn-andefault" ng-click="popHide('index2Popxq')">取消</a>
            <a href="#" class="btn btn-andefault">确定</a>
        </div>
    </div>


</div>











