<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="lib/css/bootstrap.css">
</head>
<style>
    .clear:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    html body div{
        display: block!important;;
    }
    body{
        padding:50px;}
    strong{
        font-size:18px;
    }
</style>
<script src="lib/js/jquery.js"></script>
<script src="lib/js/angular.js"></script>
<body ng-controller="allcontrol">

<div class="price-yzj">
    <h2 class="price-small-title">1. currency (货币处理)</h2>
    <div class=" next1 btn-group heshu clear" style="display: block">
        <button type="button" class="btn btn-default "  ng-repeat="o in defaul">{{o|currency:'￥'}}</button>
    </div>

    <hr>
    <h2>2. filter(匹配子串)</h2>
    <p>属性值包含a---'<strong>a</strong>ngul<strong>a</strong>r' , 'ti<strong>a</strong>nti<strong>a</strong>n'</p>
    <div class=" next1 btn-group heshu clear" style="display: block">
        <button type="button" class="btn btn-default "  ng-repeat="o in childrenArray | filter : 'a' ">{{ o}}</button>
    </div>
    <br>
    <p>包含4 </p>
    <div class=" next1 btn-group heshu clear" style="display: block">
        <button type="button" class="btn btn-default "  ng-repeat="o in childrenArray | filter : 4 ">{{ o}}</button>
    </div>
    <br>
    <p>包含age>4 //参数是函数，指定返回age>4的 </p>
    <div class=" next1 btn-group heshu clear" style="display: block">
        <button type="button" class="btn btn-default "  ng-repeat="o in childrenArray| filter : func">{{o}}  </button>
    </div>

    <hr>

    <h2 class="price-small-title">3. limitTo(限制数组长度或字符串长度)</h2>
    <h3>
        limitTo过滤器用来截取数组或字符串，接收一个参数用来指定截取的长度。个人觉得这个filter有点鸡肋，首先只能从数组或字符串的开头进行截取，其次，js原生的函数就可以代替它了，看看怎么用吧：
    </h3>
    <div class=" next1 btn-group heshu clear" style="display: block">
        <button type="button" class="btn btn-default "  ng-repeat="o in childrenArray|limitTo : 2 ">{{o}}</button>
    </div>

    <hr>

    <h2>4. lowercase(小写)</h2>
    <h2>5. uppercase(大写)</h2>
    <h2>6. number(格式化数字)</h2>
    <h3>number过滤器可以为一个数字加上千位分割，像这样，123,456,789。同时接收一个参数，可以指定小float类型保留几位小数： </h3>
    <h2>7. orderBy(排序)</h2>
    <h3>orderBy过滤器可以将一个数组中的元素进行排序，接收一个参数来指定排序规则，参数可以是一个字符串，表示以该属性名称进行排序。
        可以是一个函数，定义排序属性。还可以是一个数组，表示依次按数组中的属性值进行排序（若按第一项比较的值相等，再按第二项比较）</h3>

    <p>按照id大小</p>
    <div class=" next1 btn-group heshu clear" style="display: block">
        <button type="button" class="btn btn-default "  ng-repeat="o in childrenArray|orderBy:'id'">{{o}}</button>
    </div>
    <br>
    <p>按照年龄大小</p>
    <div class=" next1 btn-group heshu clear" style="display: block">
        <button type="button" class="btn btn-default "  ng-repeat="o in childrenArray|orderBy:'age'">{{o}}</button>
    </div>
    <br>
    <p>/如果age相同，按照id进行排序</p>
    <div class=" next1 btn-group heshu clear" style="display: block">
        <button type="button" class="btn btn-default "  ng-repeat="o in childrenArray|orderBy:['age','id']">{{o}}</button>
    </div>

    <hr>

    <h2 class="price-small-title">以下是自定义的</h2>

        <div>
            <div class=" next1 btn-group heshu clear" style="display: block">
                <button type="button" class="btn btn-default " data-cpu="{{o.first}}" ng-repeat="o in heshuitem|unique:'first'">{{o.first}}核</button>
            </div>
            <div class="gshu">
                <br>
                <p>first=1</p>
                <div class="next2 btn-group  clear" style="display: block">
                    <button type="button" class="btn btn-default " data-second="{{o.second}}" ng-repeat="o in heshuitem|allfirst1:'first'">{{o.second/1024}}GB</button>
                </div>
                <div class="next2 btn-group  clear" style="display: block">
                    <button type="button" class="btn btn-default " data-second="{{o.second}}" ng-repeat="o in heshuitem|filter:firstis1">{{o.second/1024}}GB</button>
                </div>

                <br>
                <p>first=2</p>
                <div class="next2 btn-group  clear">
                    <button type="button" class="btn btn-default "data-second="{{o.second}}" ng-repeat="o in heshuitem|allfirst2:'first'">{{o.second/1024}}GB</button>
                </div>
                <div class="next2 btn-group  clear">
                    <button type="button" class="btn btn-default "data-second="{{o.second}}" ng-repeat="o in heshuitem|filter:firstis2">{{o.second/1024}}GB</button>
                </div>
                <br>
                <p>first=4</p>
                <div class="next2 btn-group  clear">
                    <button type="button" class="btn btn-default " data-second="{{o.second}}" ng-repeat="o in heshuitem|allfirst4:'first'">{{o.second/1024}}GB</button>
                </div>
                <br>
                <p>first=8</p>
                <div class="next2 btn-group  clear">
                    <button type="button" class="btn btn-default " data-second="{{o.second}}" ng-repeat="o in heshuitem|allfirst8:'first'">{{o.second/1024}}GB</button>
                </div>
                <br>
                <p>first=12</p>
                <div class="next2 btn-group  clear">
                    <button type="button" class="btn btn-default "  data-second="{{o.second}}" ng-repeat="o in heshuitem|allfirst12:'first'">{{o.second/1024}}GB</button>
                </div>
            </div>

        </div>

</div>
<script>
    //加法
    var heshuitem;
    var app=angular.module("app",[]);
    app.controller("allcontrol",function($scope,$rootScope){

        $scope.defaul=[1,2,3,4,5,6,7,8,9,10];

        $scope.childrenArray = [
            {name:'kimi',age:3,id:1},
            {name:'anglar',age:4,id:3},
            {name:'cindy',age:4,id:2},
            {name:'shitou',age:6,id:4},
            {name:'tiantian',age:5,id:5}
        ];

        //传统过滤器定义的方法
        $scope.func = function(e){return e.age>4;};
        $scope.firstis1 = function(item){return item.first==1;};
        $scope.firstis2 = function(item){ //形参item 就是 o in data 中的 o ，
            console.log(item);
            return item.first==2;
        };

        $rootScope.heshuitem=[
            {"unitid":3211,"unitname":"1核_1GB","objectType":3,"first":1,"second":1024},
            {"unitid":3212,"unitname":"1核_2GB","objectType":3,"first":1,"second":2048},
            {"unitid":3213,"unitname":"1核_4GB","objectType":3,"first":1,"second":4096},
            {"unitid":3214,"unitname":"2核_1GB","objectType":3,"first":2,"second":1024},
            {"unitid":3215,"unitname":"2核_2GB","objectType":3,"first":2,"second":2048},
            {"unitid":3216,"unitname":"2核_4GB","objectType":3,"first":2,"second":4096},
            {"unitid":3217,"unitname":"2核_6GB","objectType":3,"first":2,"second":6144},
            {"unitid":3218,"unitname":"2核_8GB","objectType":3,"first":2,"second":8192},
            {"unitid":3219,"unitname":"4核_2GB","objectType":3,"first":4,"second":2048},
            {"unitid":3220,"unitname":"4核_4GB","objectType":3,"first":4,"second":4096},
            {"unitid":3221,"unitname":"4核_6GB","objectType":3,"first":4,"second":6144},
            {"unitid":3222,"unitname":"4核_8GB","objectType":3,"first":4,"second":8192},
            {"unitid":3223,"unitname":"4核_12GB","objectType":3,"first":4,"second":12288},
            {"unitid":3224,"unitname":"4核_16GB","objectType":3,"first":4,"second":16384},
            {"unitid":3225,"unitname":"8核_4GB","objectType":3,"first":8,"second":4096},
            {"unitid":3226,"unitname":"8核_6GB","objectType":3,"first":8,"second":6144},
            {"unitid":3227,"unitname":"8核_8GB","objectType":3,"first":8,"second":8192},
            {"unitid":3228,"unitname":"8核_12GB","objectType":3,"first":8,"second":12288},
            {"unitid":3229,"unitname":"8核_16GB","objectType":3,"first":8,"second":16384},
            {"unitid":3230,"unitname":"8核_24GB","objectType":3,"first":8,"second":24576},
            {"unitid":3231,"unitname":"8核_32GB","objectType":3,"first":8,"second":32768},
            {"unitid":3232,"unitname":"12核_8GB","objectType":3,"first":12,"second":8192},
            {"unitid":3233,"unitname":"12核_12GB","objectType":3,"first":12,"second":12288},
            {"unitid":3234,"unitname":"12核_16GB","objectType":3,"first":12,"second":16384},
            {"unitid":3235,"unitname":"12核_24GB","objectType":3,"first":12,"second":24576},
            {"unitid":3236,"unitname":"12核_32GB","objectType":3,"first":12,"second":32768},
            {"unitid":3237,"unitname":"12核_40GB","objectType":3,"first":12,"second":40960},
            {"unitid":3238,"unitname":"12核_48GB","objectType":3,"first":12,"second":49152}
        ];
    });
    app.directive("add",function(){
        return{
            link:function(scope,ele,attrs){
                ele.click(function(){
                    scope[attrs.item]++;
                    scope.$apply();
                })
            }
        }
    });
    app.directive("remove",function(){
        return{
            link:function(scope,ele,attrs){
                ele.click(function(){
                    if(scope[attrs.item]==0){
                        return
                    }else{
                        scope[attrs.item]--;
                        scope.$apply();
                    }
                })
            }
        }
    });

    //自定义过滤器

    app.filter('unique', function ($rootScope) {
        heshuitem=$rootScope.heshuitem;
        return function (a, filtername) {//如果ng-repeat中 team in teams|unique:first  ,teams就是则个形参a, first就是这个形参filtername
            console.log(a);//heshuitem这个数组
            console.log(filtername);//first,如果 team in teams|unique:second 则输出second
            var output = [],
                    keys = [];
            angular.forEach(a, function (heshuitem) {

                var key = heshuitem[filtername];
                if (keys.indexOf(key) === -1) {
                    keys.push(key);
                    output.push(heshuitem);
                }
            });
            return output;
        }
    });
    app.filter('allfirst1', function ($rootScope) {//简化版本是 $scope.firstis1 ,
        heshuitem=$rootScope.heshuitem;
        return function (a, filtername) {
            var output = [];
            angular.forEach(a, function (heshuitem) {

                var key = heshuitem[filtername];
                // console.log(key);
                if (key==1) {
                    output.push(heshuitem);
                }
            });
            return output;
        }
    });
    app.filter('allfirst2', function ($rootScope) {//简化版本是 $scope.firstis2 , 一下就不写了
        heshuitem=$rootScope.heshuitem;
        return function (a, filtername) {
            var output = [];
            angular.forEach(a, function (heshuitem) {

                var key = heshuitem[filtername];
                // console.log(key);
                if (key==2) {
                    output.push(heshuitem);
                }
            });
            return output;
        }
    });
    app.filter('allfirst4', function ($rootScope) {
        heshuitem=$rootScope.heshuitem;
        return function (a, filtername) {
            var output = [];
            angular.forEach(a, function (heshuitem) {

                var key = heshuitem[filtername];
                // console.log(key);
                if (key==4) {
                    output.push(heshuitem);
                }
            });
            return output;
        }
    });
    app.filter('allfirst8', function ($rootScope) {
        heshuitem=$rootScope.heshuitem;
        return function (a, filtername) {
            var output = [];
            angular.forEach(a, function (heshuitem) {

                var key = heshuitem[filtername];
                // console.log(key);
                if (key==8) {
                    output.push(heshuitem);
                }
            });
            return output;
        }
    });
    app.filter('allfirst12', function ($rootScope) {
        heshuitem=$rootScope.heshuitem;
        return function (a, filtername) {
            var output = [];
            angular.forEach(a, function (heshuitem) {

                var key = heshuitem[filtername];
                // console.log(key);
                if (key==12) {
                    output.push(heshuitem);
                }
            });
            return output;
        }
    });
</script>

</body>
</html>