<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.css">
</head>
<script src="../lib/js/jquery.js"></script>
<script src="../lib/js/angular.js"></script>
<body>
<h1>angular全在test文件夹中   index中是杂记</h1>
<div ng-controller="acontrol">
    <div>
        <a class="btn btn-default" add    item="a1" step=1  href="">+</a>
        <input ng-model="a1" type="tel" value={{a1}}  class="btn btn-default">
        <a class="btn btn-default" remove item="a1" step=1  href="">-</a>
    </div>

    <div>
        <a class="btn btn-default" add   item="a2" step=3  href="">+</a>
        <input ng-model="a2" value="a2"  class="btn btn-default" type="text">
        <a class="btn btn-default" remove item="a2"step=3 href="">-</a>
    </div>
    <my-dir>123</my-dir>
</div>
</body>
<script>
    var app=angular.module("app",[]);
    app.controller("acontrol",function($scope){
        $scope.a1=1;
        $scope.a2=1;
    });
    //加减运算必须写 item  step //item用来scope[]拼接的 step加减的步数大小
    //加法
    app.directive("add",function(){
        return{
            link:function(scope,ele,attrs){
                ele.click(function(){
                    console.log(attrs.step);
                    if(attrs.step){
                        attrs.step=Number(attrs.step);
                    }else{
                        attrs.step=1;
                    }
                    scope[attrs.item]+=attrs.step;
                    scope.$apply();
                })
            }
        }
    });
    //减法
    app.directive("remove",function(){
        return{
            link:function(scope,ele,attrs){
                ele.click(function(){
                    if(attrs.step){
                        attrs.step=Number(attrs.step);
                    }else{
                        attrs.step=1;
                    }
                    scope[attrs.item]-=attrs.step;
                    if(scope[attrs.item]<=0){
                        scope[attrs.item]=0;
                    }
                    scope.$apply();

                })
            }
        }
    })
    app.directive("myDir",function(){
        return{
            restrict: 'ECA',
            template: '<div>Hi there</div>',
            replace: true,
            transclude:false //默认就是false true就是把<my-dir>123</my-dir>中的 123 给保留下来
        }
    })
</script>
</html>