<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../lib/js/jquery.js"></script>
    <script src="../lib/js/angular.js"></script>
</head>
<style>
    .selecthover{
        background: #555;
        color: blue;
    }
</style>
<body ng-controller="allControl">

<p>
    淘宝查询商品价格接口：http://suggest.taobao.com/sug?code=utf-8&q=商品关键字
</p>
<p>
    百度搜索框下拉提示框api  注意 cb 代指callback百度自己设置的   常规都是callback
    https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=商品关键字&json=1&p=3
    https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=商品关键字
</p>

<input ng-change="search()" ng-model="gjz" style="font-size:20px;width:500px;height:40px;outline: none;padding: 3px 5px;" type="text"><button>搜索</button>
<ul id="downList">
    <li ng-repeat="x in resdata">{{x}}</li>
</ul>
</body>
<script>






    var app=angular.module("app",[]);
    app.controller("allControl",function($scope){
        $scope.resdata;//接受api传过来的数据
        $scope.search=function(e){
            $scope.a=$.trim($scope.gjz);//去空格 如 “   as 222  ”就会等价于“as 222”
            $.ajax({
                type:"get",
                url:"https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd="+$scope.a,
                dataType:'jsonp',
                jsonp:"cb",//用百度接口的时候用cb  可能是百度设置的 常规的都是callback
                success:function(data){
//                    console.log(data);
                    $scope.resdata=data.s;
//                    console.log($scope.resdata);
                    $scope.$apply();//获取数据慢 获取完成再次脏检测
                    $scope.dList;
                    $scope.dList=$("#downList>li").length;
                    $scope.lindex=0;
                    $("#downList>li").removeClass("selecthover");
//                    console.log($scope.dList);


                },
                error:function(data){
                    console.log("error")
                }
            });
        };

        $("input").keydown(function (event) {//上下键获取焦点
            console.log($scope.dList,$scope.lindex);
            if($scope.dList!=0){

                var key = event.keyCode;
                if (key == 13) {}; /*回车搜索*/

                if (key == 40) {/*向下按钮*/
                    $scope.lindex++;
                    if ($scope.lindex > $scope.dList){
                        $scope.lindex = 1; //到底了
                    }
//                alert(1);
                    toggleMyClass()
                }else if (key == 38) { /*向上按钮*/
                    $scope.lindex--;
                    if ($scope.lindex == 0){
                        $scope.lindex = $scope.dList; //到顶了，
                    }
                    toggleMyClass()
                }
            }


        });

        function toggleMyClass() {
            $("#downList>li:nth-child("+$scope.lindex+")").addClass("selecthover");
            $("#downList>li:nth-child("+$scope.lindex+")").siblings()
                    .removeClass("selecthover")
        }


    })



</script>
</html>